venv/
.env
__pycache__/
*.pyc
*.jpg
*.ogg
*.wav
.DS_Store
temp/
data/
user_audio/
logs/
internal/
.vscode/
.prompts/
node_modules/
docs/

# Медиа (кроме аватарки бота)
!artef/bot_avatar.png
!artef/bot_avatar.svg
.playwright-mcp/
tests/
static/massage/certificates/
