name: Sync to Hugging Face
on:
  push:
    branches: ['**']
  workflow_dispatch:

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push --force https://dizel0110:$HF_TOKEN@huggingface.co/spaces/dizel0110/ai_prophet main
